<!DOCTYPE html>
<html>
<head>
    {{> ../views/partials/header}}
</head>

<body>
    <div class="container">
        <div style="margin-top: 20%">
        </div>
        <div class="row">
            <form action="/registered" method="post">
            <div class="five columns">
                <h2>Register</h2>
                <label for="username">Username</label>
                <input class="u-full-width" placeholder="BoatyMcBoatyFace" id="username">
                <label for="email">Email</label>
                <input class="u-full-width" placeholder="Boaty@gmail.com" id="email" type="email">
                <input class="button-primary" value="submit" type="submit">
            </div>
            </form>
            <form action="/register" method="post">
            <div class="five columns u-pull-right">
                <h2>Delete</h2>
                <label for="username">Username</label>
                <input class="u-full-width" placeholder="BoatyMcBoatyFace" id="username">
                <label for="email">Email</label>
                <input class="u-full-width" placeholder="Boaty@gmail.com" id="email" type="email">
                <input class="button" value="submit" type="submit">
            </div>
            </form>
        </div>
    </div>

</body>
</html>
