<!DOCTYPE html>
<html>
<head>
    {{> ../views/partials/header}}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="six columns">
                <p>Stuff</p>
            </div>
            <div class="six columns">
                <p>Deletion</p>
            </div>
        </div>
    </div>

</body>
</html>
